<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <ul class="navbar-nav">
      <li appStyle><a *ngIf="loginService.isUserLoggedIn()" routerLink="/userdetails" class="nav-link">USER:{{loginService.getCurrentUser()}}</a></li>
      <li appStyle><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">View Tests</a></li>
      <li appStyle><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addtest" class="nav-link">Add New Test</a></li>
      <li appStyle><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li appStyle><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link" align="right">LogOut</a></li>
    </ul>

  </nav>

</header>
